Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*

Added more list queries by type, updated like and commetn request methods, added structs
  cast-be/constants/video.go
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
  cast-be/datatransfers/video.go
  cast-be/handlers/init.go
  cast-be/handlers/video.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Added fix for duplicated results
  cast-be/models/video.go
Due: build:backend

Temporary workaround for search result count
  cast-fe/src/components/List.jsx
  cast-fe/src/components/Search.jsx
Due: build:frontend

Removed bookmark feature
  cast-fe/src/App.jsx
  cast-fe/src/Routes.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Sidebar.jsx
Due: build:frontend

Added dynamic list for search results
  cast-fe/src/components/List.jsx
  cast-fe/src/components/Search.jsx
Due: build:frontend

Fixed bugged like and subscribe endpoint
  cast-be/controller/v1/video.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Added liked list
  cast-fe/src/Routes.jsx
  cast-fe/src/components/Liked.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Added like list endpoint
  cast-fe/src/helper/url.js
Due: build:frontend

Moved list variant enums to consts
  cast-fe/src/components/Fresh.jsx
  cast-fe/src/components/List.jsx
  cast-fe/src/components/Live.jsx
  cast-fe/src/components/Trending.jsx
  cast-fe/src/constants/video.js
Due: build:frontend

Fixed contexts
  cast-be/models/like.go
  cast-be/models/user.go
  cast-be/models/video.go
Due: build:backend

Added subscriber model
  cast-be/constants/db.go
  cast-be/datatransfers/video.go
  cast-be/models/subscription.go
Due: build:backend

Implemented subscription
  cast-be/handlers/init.go
  cast-be/handlers/video.go
Due: build:backend

Updatd subscription endpoint
  cast-be/controller/v1/video.go
  cast-be/datatransfers/user.go
  cast-be/lastupdate.tmp
Due: build:backend

Added subscriber count
  cast-be/datatransfers/user.go
  cast-be/handlers/user.go
Due: build:backend

Added subscription API endpoint
  cast-fe/src/helper/url.js
Due: build:frontend

Fixed list page title
  cast-fe/src/components/Liked.jsx
Due: build:frontend

Added subscribed cast list
  cast-fe/src/Routes.jsx
  cast-fe/src/components/Sidebar.jsx
  cast-fe/src/components/Subscribed.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Implemented author subscription
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Fixed column spacers
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Fixed scene spacing
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Added notification deps
  cast-fe/package.json
  cast-fe/yarn.lock
Due: build:frontend

Added Toast component
  cast-fe/src/components/Toast.jsx
  cast-fe/src/components/toast.css
  cast-fe/src/index.css
Due: build:frontend

Added notification helper
  cast-fe/src/helper/notification.jsx
  cast-fe/src/helper/url.js
Due: build:frontend

Added notification group
  cast-fe/src/App.jsx
Due: build:frontend

Added notification state management on auth change
  cast-fe/src/components/Chat.jsx
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/LogOut.jsx
Due: build:frontend

Added subscriber retrieval method
  cast-be/models/subscription.go
Due: build:backend

Added ws message type and video resolutions consts
  cast-be/constants/chat.go
  cast-be/constants/video.go
Due: build:backend

Added notification ws message container
  cast-be/datatransfers/chat.go
Due: build:backend

Added push notification and broadcast handlers
  cast-be/handlers/init.go
  cast-be/handlers/websocket.go
Due: build:backend

Added push notification triggers
  cast-be/handlers/rtmp.go
  cast-be/handlers/transcode.go
  cast-be/handlers/video.go
Due: build:backend

Updated WS endpoints for both chat and notification
  cast-be/controller/v1/websocket.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
  cast-be/routers/router.go
Due: build:backend

docs: added LICENSE
  LICENSE
Due: none

docs: updated README
  README.md
Due: none

refactor!: migrated to go mod
  cast-is/.gitignore
  cast-is/Gopkg.lock
  cast-is/Gopkg.toml
  cast-is/go.mod
  cast-is/go.sum
Due: build:ingest

refactor: cleaned up imports
  cast-be/controller/middleware/auth.go
  cast-be/controller/v1/auth.go
  cast-be/controller/v1/live.go
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
  cast-be/controller/v1/websocket.go
  cast-be/handlers/auth.go
  cast-be/handlers/init.go
  cast-be/handlers/rtmp.go
  cast-be/handlers/transcode.go
  cast-be/handlers/user.go
  cast-be/handlers/video.go
  cast-be/handlers/websocket.go
  cast-be/models/comment.go
  cast-be/models/like.go
  cast-be/models/subscription.go
  cast-be/models/token.go
  cast-be/models/user.go
  cast-be/models/video.go
  cast-be/routers/router.go
  cast-be/util/normalizer.go
Due: build:backend

ci: updated Dockefile
  cast-be/Dockerfile
Due: build:backend

fix: cleaned up manifest
  cast-fe/public/index.html
  cast-fe/public/manifest.json
  cast-fe/public/site.webmanifest
Due: build:frontend

ci: updated Dockefile
  cast-fe/Dockerfile
  cast-fe/nginx.conf
Due: build:frontend

ci: updated gitlab-ci
  .gitlab-ci.yml
  scripts/init_backend.sh
  scripts/init_deploy.sh
  scripts/init_frontend.sh
  scripts/init_ingest.sh
Due: none
