Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*

Fixed tag packaging
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Manage.jsx
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Attempted to fix DASH inconsistency
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Attempted fix on DASH loading issue, fixed editable cast missing tags
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Added debug prints
  cast-fe/src/components/Scene.jsx
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Added more debugging prints
  cast-fe/src/components/Scene.jsx
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Added sample test Scene
  cast-fe/src/components/TestScene.jsx
Due: build:frontend

Added sample test Scene
  cast-fe/src/Routes.jsx
  cast-fe/src/components/TestScene.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Attempted fix for CORS video source
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Fixed wrong stryles dir
  cast-fe/src/components/TestScene.jsx
Due: build:frontend

Fixed testing hypbrid player
  cast-fe/src/components/TestScene.jsx
Due: build:frontend

Added DASH controb deps
  cast-fe/package.json
Due: build:frontend

Added DASH and vjs compat imports
  cast-fe/src/components/TestScene.jsx
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Removed imports
  cast-fe/src/components/TestScene.jsx
Due: build:frontend

Done fixing video loading bug
  cast-fe/src/Routes.jsx
  cast-fe/src/components/TestScene.jsx
  cast-fe/src/components/index.jsx
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Proxied CDN
  cast-fe/src/helper/url.js
Due: build:frontend

Fixed DASH res selector and hotkeys
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Added download link
  cast-fe/src/components/Scene.jsx
  cast-fe/src/helper/url.js
Due: build:frontend

Moved CDN to relative path
  cast-fe/src/helper/url.js
Due: build:frontend

Removed player reset
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Fixed deps
  cast-fe/yarn.lock
Due: build:frontend

Attempt bug fix: no quality selector
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Updated origin access
  cast-be/routers/router.go
  cast-fe/src/helper/auth.js
Due: build:backend, build:frontend

Refactored auth token via cookies
  cast-be/constants/auth.go
  cast-be/controller/middleware/auth.go
  cast-be/controller/v1/auth.go
Due: build:backend

Remove intermediate file on failure
  cast-be/handlers/video.go
Due: build:backend

Added cookie deps
  cast-fe/package.json
  cast-fe/yarn.lock
Due: build:frontend

Added auth helper
  cast-fe/src/helper/auth.js
Due: build:frontend

Refactored auth via cookies
  cast-fe/src/App.jsx
  cast-fe/src/Routes.jsx
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/LogOut.jsx
  cast-fe/src/components/Manage.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Used dynamic duration display
  cast-fe/src/components/Cast.jsx
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Add3d missing singup url
  cast-fe/src/helper/url.js
Due: build:frontend

Fixed tags layout on mobile
  cast-fe/src/components/Scene.jsx
  cast-fe/src/index.css
Due: build:frontend

Bug fix attempt: quality selector
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Cleared fields on signup success
  cast-fe/src/components/SignUp.jsx
Due: build:frontend

Bug fix attempt: quality selector 2
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Moved image normalizer, created file copy util
  cast-be/util/.gitkeep
  cast-be/util/copy.go
  cast-be/util/normalizer.go
Due: build:backend

Added constants for image dirs
  cast-be/constants/user.go
  cast-be/constants/video.go
Due: build:backend

Added default profile image, added profile image normalizer, moved normalizer methods to util
  cast-be/datatransfers/user.go
  cast-be/handlers/auth.go
  cast-be/handlers/init.go
  cast-be/handlers/user.go
  cast-be/handlers/video.go
Due: build:backend

Moved image normalizer, created file copy util
  cast-be/util/copy.go
  cast-be/util/normalizer.go
Due: build:backend

Added profile image upload
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Added deps
  cast-fe/package.json
Due: build:frontend

Added profile image uplaod
  cast-fe/src/components/Profile.jsx
Due: build:frontend
