Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*

Bug attempt fix: swappiung live streams
  cast-fe/src/components/player/HybridPlayer.jsx
Due: build:frontend

Added password strength meter
  cast-fe/package.json
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/index.css
  cast-fe/yarn.lock
Due: build:frontend

Updated stream window flags
  cast-be/models/video.go
Due: build:backend

Added hidden userID field, added pending stream flag
  cast-be/datatransfers/user.go
  cast-be/datatransfers/video.go
Due: build:backend

Added live stream view counter via WS
  cast-be/handlers/init.go
  cast-be/handlers/websocket.go
Due: build:backend

Added advanced stream window controls, fixed old bug: OBS stuck in connecting/disconnecting
  cast-be/handlers/rtmp.go
Due: build:backend

Added stream window control endpoint
  cast-be/controller/v1/live.go
Due: build:backend

Renamed unused stub params
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
Due: build:backend

Cleaned commented code
  cast-be/lastupdate.tmp
  cast-be/main.go
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Added clock deps
  cast-fe/package.json
  cast-fe/yarn.lock
Due: build:frontend

Added stream window control endpoints
  cast-fe/src/helper/url.js
Due: build:frontend

Hide overflow scrollbar on standalone mode
  cast-fe/src/components/Chat.jsx
Due: build:frontend

Added major controls for stream window and connection, showed streaming metrics
  cast-fe/src/components/Dashboard.jsx
Due: build:frontend

Fixed debug URL
  cast-fe/src/helper/url.js
Due: build:frontend

Updated to DARK THEME! Greatly improved mobile responsiveness
  cast-fe/package.json
  cast-fe/public/manifest.json
  cast-fe/src/components/Cast.jsx
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Dashboard.jsx
  cast-fe/src/components/Home.jsx
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/Manage.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/Scene.jsx
  cast-fe/src/components/Search.jsx
  cast-fe/src/components/Sidebar.jsx
  cast-fe/src/components/SidebarProfile.jsx
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/components/Verify.jsx
  cast-fe/src/components/file.css
  cast-fe/src/components/player/player.css
  cast-fe/src/components/tags.css
  cast-fe/src/constants/breakpoint.js
  cast-fe/src/helper/url.js
  cast-fe/src/index.css
  cast-fe/yarn.lock
Due: build:frontend

Cleaned up code
  cast-fe/src/components/SidebarProfile.jsx
Due: build:frontend

Updated video edit endpoint for thumbnail reupload
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
  cast-be/util/normalizer.go
Due: build:backend

Added CardEditable thumbnail uploads, fixed tag field wrapping, fixed CardEditable wrapping, fixed responsive padding
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Dashboard.jsx
  cast-fe/src/components/Manage.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/tags.css
  cast-fe/src/index.css
Due: build:frontend

Cleaned up imports
  cast-fe/src/components/Manage.jsx
Due: build:frontend

Fixed Profile page styling
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
Due: build:frontend

Fixed hash parsing for thumbnail upload
  cast-be/controller/v1/video.go
  cast-be/handlers/init.go
  cast-be/handlers/video.go
Due: build:backend

Updated README
  README.md
  architecture.svg
Due: none

Update README.md
  README.md
Due: none

Add .deepsource.toml
  .deepsource.toml
Due: none

Added domain name config
  cast-be/config/config.go
  cast-be/constants/auth.go
  cast-be/datatransfers/auth.go
  cast-be/datatransfers/user.go
  cast-be/lastupdate.tmp
Due: build:backend

Added extended cookie auth, changed cookie to secured
  cast-be/controller/middleware/auth.go
  cast-be/controller/v1/auth.go
  cast-be/handlers/auth.go
Due: build:backend

Removed close modal icon
  cast-fe/src/components/Dashboard.jsx
Due: build:frontend

Added login redirect to last page, added request interceptor auth redirect
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/Navigation.jsx
Due: build:frontend

Dark mode theme for alerts
  cast-fe/src/components/Manage.jsx
  cast-fe/src/index.css
Due: build:frontend

Downloading videos now require auth
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Fixed tags padding
  cast-fe/src/components/tags.css
Due: build:frontend

Fixed auth cookie name, fixed url cdn host
  cast-fe/src/helper/auth.js
  cast-fe/src/helper/url.js
Due: build:frontend

Fixed cookie removal
  cast-fe/src/helper/auth.js
Due: build:frontend

Fixed cookie splitting
  cast-be/controller/middleware/auth.go
Due: build:backend

Added constants
  cast-fe/src/constants/chat.js
  cast-fe/src/constants/file.js
  cast-fe/src/constants/video.js
Due: build:frontend

Added file size check, aded char limits for title and desc
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Manage.jsx
Due: build:frontend

Added file size check for profile image
  cast-fe/src/components/Profile.jsx
Due: build:frontend

Last stream text for new streamers
  cast-fe/src/components/Dashboard.jsx
Due: build:frontend

Added login and signup links
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/index.css
Due: build:frontend
