Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*

ci: updated gitlab-ci
  .gitlab-ci.yml
Due: none

ci: bumped all dependencies
  cast-fe/package.json
  cast-fe/yarn.lock
Due: build:frontend

docs: updated README
  README.md
  architecture.svg
Due: none

ci: removed unused conf
  .deepsource.toml
Due: none

chores: updated gitignore
  .gitignore
  cast-be/.gitignore
  cast-be/lastupdate.tmp
  cast-is/.gitignore
Due: build:backend, build:ingest

chores: synced dependencies
  cast-be/go.mod
  cast-be/go.sum
  cast-is/go.mod
  cast-is/go.sum
Due: build:backend, build:ingest

ci: updated Dockerfile
  cast-is/Dockerfile
Due: build:ingest

refactor!: migrated config to use env
  cast-is/.example.env
  cast-is/app.conf.example
  cast-is/go.mod
  cast-is/go.sum
  cast-is/main.go
Due: build:ingest

ci: updated Dockerfile
  cast-be/Dockerfile
Due: build:backend

ci: updated Dockerfile
  cast-fe/Dockerfile
Due: build:frontend

refactor!: updated auth to use ratify-client
  cast-fe/.env.development
  cast-fe/package.json
  cast-fe/src/helper/auth.js
  cast-fe/yarn.lock
Due: build:frontend

refactor!: updated auth flow to use Ratify OAuth
  cast-fe/src/Routes.jsx
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/LogOut.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/components/Verify.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

refactor: changed user profile image placeholder
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/Scene.jsx
Due: build:frontend

chore: updated gitignore
  cast-fe/.gitignore
Due: build:frontend

chore: added prettier
  cast-fe/package.json
  cast-fe/yarn.lock
Due: build:frontend

refactor: added Ratify client configs
  cast-be/config/.example.env
  cast-be/config/app.conf
  cast-be/config/config.go
Due: build:backend

refactor!: removed unused model
  cast-be/constants/db.go
  cast-be/models/token.go
Due: build:backend

refactor!: updated models UserID type
  cast-be/datatransfers/video.go
  cast-be/models/like.go
  cast-be/models/subscription.go
  cast-be/models/video.go
Due: build:backend

refactor!: removed unused user ORM functions
  cast-be/models/user.go
Due: build:backend

refactor!: removed unused User struct field
  cast-be/datatransfers/user.go
Due: build:backend

refactor!: updated userID references
  cast-be/handlers/rtmp.go
  cast-be/handlers/transcode.go
  cast-be/handlers/video.go
  cast-be/handlers/websocket.go
Due: build:backend

refactor!: removed unused user handlers
  cast-be/handlers/user.go
Due: build:backend

refactor!: removed unused auth handlers
  cast-be/handlers/auth.go
Due: build:backend

refactor!: updated user registration handler
  cast-be/handlers/auth.go
Due: build:backend

refactor!: updated handler init
  cast-be/handlers/init.go
Due: build:backend

refactor!: updated userID types
  cast-be/controller/v1/live.go
  cast-be/controller/v1/video.go
  cast-be/controller/v1/websocket.go
Due: build:backend

refactor!: removed unsused user update endpoint
  cast-be/controller/v1/user.go
Due: build:backend

refactor!: removed unused auth endpoints
  cast-be/controller/v1/auth.go
Due: build:backend

feat: added user registration from OID
  cast-be/controller/v1/auth.go
Due: build:backend

refactor: updated auth middleware to use Ratify
  cast-be/controller/middleware/auth.go
  cast-be/datatransfers/auth.go
Due: build:backend

refactor!: updated routers
  cast-be/routers/commentsRouter_controller_v1.go
  cast-be/routers/router.go
Due: build:backend

chore: added development base endpoints
  cast-fe/.env.development
  cast-fe/src/helper/url.js
Due: build:frontend

refactor: removed unsused apis
  cast-fe/src/helper/url.js
Due: build:frontend

feat: added user check after token redeem
  cast-fe/src/helper/auth.js
Due: build:frontend

fix: added auth header
  cast-fe/src/components/Profile.jsx
Due: build:frontend
