Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*

Added thumbnail normalizer, delete video assets on delete request
  cast-be/handlers/init.go
  cast-be/handlers/video.go
Due: build:backend

Call thumbnail normalizer on video upload
  cast-be/controller/v1/video.go
Due: build:backend

Initialized cast-is with sample pubsub listener
  cast-is/.gitkeep
  cast-is/Gopkg.lock
  cast-is/main.go
Due: build:ingest

Updated initial cast-is
  cast-is/Dockerfile
  cast-is/Gopkg.lock
  cast-is/main.go
Due: build:ingest

Initialized google pubsub connection
  cast-be/Gopkg.lock
  cast-be/config/config.go
  cast-be/handlers/init.go
  cast-be/routers/router.go
Due: build:backend

Cleaned up import ordering
  cast-be/routers/router.go
Due: build:backend

Added gitignore
  cast-is/.gitignore
Due: build:ingest

Updated gitignore
  .gitignore
Due: none

Fixed bug casts not editable
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Manage.jsx
Due: build:frontend

Added command calls on ffmpeg, added listener to pubsub messages
  cast-is/main.go
Due: build:ingest

Updated configs for pubsub
  cast-be/config/config.go
  cast-be/lastupdate.tmp
Due: build:backend

Added handlers for sending transcode tasks and recieving progress
  cast-be/handlers/init.go
  cast-be/handlers/transcode.go
Due: build:backend

Added transcoding constants
  cast-be/constants/transcode.go
Due: build:backend

Calls transcoder on new video uploads
  cast-be/controller/v1/video.go
Due: build:backend

Added query to update resolution
  cast-be/models/video.go
Due: build:backend

Addedd trascode listener worker start
  cast-be/routers/router.go
Due: build:backend

Changed target docker image
  cast-is/Dockerfile
Due: build:ingest

Updated config location for cast-is
  .gitlab-ci.yml
  cast-is/Dockerfile
Due: build:ingest

Fixed wrong cast-is docker tags
  .gitlab-ci.yml
Due: none

Cleaned up imports
  cast-be/controller/v1/auth.go
  cast-be/controller/v1/live.go
  cast-be/controller/v1/video.go
  cast-be/routers/router.go
Due: build:backend

Fixed wrong config dir
  cast-is/Dockerfile
Due: build:ingest

Added user edit
  cast-be/controller/v1/user.go
  cast-be/datatransfers/user.go
  cast-be/handlers/init.go
  cast-be/handlers/user.go
  cast-be/lastupdate.tmp
  cast-be/models/user.go
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Fixed empty response from user details
  cast-be/controller/v1/user.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Fixed dynamic DASH creating per resolutions
  cast-is/main.go
Due: build:ingest

Fixed replacement problem of manifest file
  cast-is/main.go
Due: build:ingest

Added MP4Box debugging
  cast-is/main.go
Due: build:ingest

Added delay pre DASHing
  cast-is/main.go
Due: build:ingest

Invalidated JWT when invalid
  cast-be/controller/middleware/auth.go
Due: build:backend

Created unpaginated video query
  cast-be/models/video.go
Due: build:backend

Added profile details handlers
  cast-be/datatransfers/user.go
  cast-be/handlers/init.go
  cast-be/handlers/user.go
  cast-be/handlers/video.go
Due: build:backend

Invalidate JWT on server request
  cast-fe/src/App.jsx
Due: build:frontend

Added profile page
  cast-fe/src/components/LogOut.jsx
  cast-fe/src/components/Profile.jsx
  cast-fe/src/helper/url.js
Due: build:frontend

Added palceholders for empty editable fields
  cast-fe/src/components/CastEditable.jsx
Due: build:frontend

Added dependencies
  cast-be/Gopkg.lock
  cast-be/lastupdate.tmp
Due: build:backend

Added configs for email client
  cast-be/config/config.go
Due: build:backend

Added queries for setting verification
  cast-be/models/user.go
Due: build:backend

Added email verification handlers
  cast-be/handlers/auth.go
Due: build:backend

Added mailgun client initialization
  cast-be/routers/commentsRouter_controller_v1.go
  cast-be/routers/router.go
Due: build:backend

Added verification error
  cast-be/errors/auth.go
Due: build:backend

Added email sender routine handler
  cast-be/handlers/email.go
Due: build:backend
