Repository daystram/cast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:ingest, build:frontend

build:backend:
  image: daystram/go-builder:1.13
  stage: build
  script:
  - . scripts/init_backend.sh
  - dep ensure
  - go build
  artifacts:
    name: $CI_COMMIT_REF_NAME-backend
    paths:
    - ${GOPATH}/src/${GOPROJECT}/cast-be
    - ${GOPATH}/src/${GOPROJECT}/vendor/

build:ingest:
  image: daystram/go-builder:1.13
  stage: build
  script:
  - . scripts/init_ingest.sh
  - dep ensure
  - go build
  artifacts:
    name: $CI_COMMIT_REF_NAME-ingest
    paths:
    - ${GOPATH}/src/${GOPROJECT}/cast-is
    - ${GOPATH}/src/${GOPROJECT}/vendor/

build:frontend:
  image: node:12.10.0-buster
  stage: build
  script:
  - . scripts/init_frontend.sh
  - yarn install
  - yarn build
  artifacts:
    name: $CI_COMMIT_REF_NAME-frontend
    paths:
    - build/
    - cast-fe/node_modules/

Added chat char limit
  cast-fe/src/components/Chat.jsx
Due: build:frontend

Added page for offline streams
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Updatd constants
  cast-fe/src/constants/chat.js
  cast-fe/src/constants/file.js
  cast-fe/src/constants/video.js
Due: build:frontend

Added default stream thumbnail
  cast-be/constants/video.go
  cast-be/handlers/auth.go
Due: build:backend

Updated secure cookie settings config
  cast-be/controller/middleware/auth.go
  cast-be/controller/v1/auth.go
  cast-be/lastupdate.tmp
Due: build:backend

Reset stream view count on set to live
  cast-be/models/video.go
Due: build:backend

Fixed link styles
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/Verify.jsx
  cast-fe/src/index.css
Due: build:frontend

Added forget page, WIP. Fixed link styles
  cast-fe/src/Routes.jsx
  cast-fe/src/components/Forget.jsx
  cast-fe/src/components/LogIn.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Fixed redirects in forget page
  cast-fe/src/components/Forget.jsx
Due: build:frontend

Fixed form timeout clears and error resets
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Fixed swapped signup success pipeline
  cast-fe/src/components/SignUp.jsx
Due: build:frontend

Improved password strength bar responsiveness
  cast-fe/src/components/Profile.jsx
  cast-fe/src/components/SignUp.jsx
Due: build:frontend

Fixed availability timeout reset, fixed clickable EditableCast
  cast-fe/src/components/CastEditable.jsx
  cast-fe/src/components/Dashboard.jsx
  cast-fe/src/components/Manage.jsx
Due: build:frontend

Workaround for mailgun v4
  .gitlab-ci.yml
  cast-be/Dockerfile
  cast-be/Gopkg.lock
  cast-be/Gopkg.toml
Due: build:backend

Updated email templates
  cast-be/constants/email.go
  cast-be/handlers/auth.go
  cast-be/handlers/email.go
  cast-be/handlers/init.go
  cast-be/routers/router.go
Due: build:backend

Fixed post-login redirect
  cast-fe/src/components/LogIn.jsx
Due: build:frontend

Added annotations
  cast-be/config/app.conf.example
  cast-be/config/config.go
  cast-be/controller/middleware/auth.go
  cast-be/controller/v1/user.go
  cast-be/controller/v1/video.go
  cast-be/datatransfers/auth.go
  cast-be/datatransfers/chat.go
  cast-be/datatransfers/response.go
  cast-be/datatransfers/websocket.go
  cast-be/errors/auth.go
Due: build:backend

Added sample conf
  cast-is/app.conf.example
Due: build:ingest

Fixed wrong links in readme
  README.md
Due: none

Added navbar to forget page
  cast-fe/src/App.jsx
Due: build:frontend

Added endpoints for password reset page
  cast-fe/src/helper/url.js
Due: build:frontend

Completed forget password page
  cast-fe/src/components/Forget.jsx
Due: build:frontend

Fixed login redirects when token expires
  cast-fe/src/components/Navigation.jsx
Due: build:frontend

Fixed code styling and redirect functions
  cast-fe/src/components/SignUp.jsx
  cast-fe/src/components/Verify.jsx
Due: build:frontend

Allowed login using BOTH email and username
  cast-fe/src/components/LogIn.jsx
Due: build:frontend

Added update password fields
  cast-fe/src/components/Profile.jsx
Due: build:frontend

Added new Token ormer
  cast-be/constants/db.go
  cast-be/models/token.go
Due: build:backend

Allowed user updates on password field
  cast-be/models/user.go
Due: build:backend

Added email consts for password reset
  cast-be/constants/email.go
Due: build:backend

Added token structs and consts
  cast-be/constants/token.go
  cast-be/datatransfers/token.go
Due: build:backend

Enabled user password updates
  cast-be/datatransfers/user.go
Due: build:backend

Added refs to tokenOrm, refactored emailed tokens from JWT to token stored in DB, added handlers for password reset procedure
  cast-be/handlers/auth.go
  cast-be/handlers/init.go
  cast-be/handlers/user.go
Due: build:backend

Added API endpoints for password reset
  cast-be/controller/v1/auth.go
  cast-be/lastupdate.tmp
  cast-be/routers/commentsRouter_controller_v1.go
Due: build:backend

Added video list pages
  cast-fe/src/components/Fresh.jsx
  cast-fe/src/components/List.jsx
  cast-fe/src/components/Live.jsx
  cast-fe/src/components/Trending.jsx
  cast-fe/src/constants/video.js
Due: build:frontend

Added deps
  cast-fe/package.json
Due: build:frontend

Added routes to list pages
  cast-fe/src/App.jsx
  cast-fe/src/Routes.jsx
  cast-fe/src/components/Navigation.jsx
  cast-fe/src/components/Sidebar.jsx
  cast-fe/src/components/SidebarProfile.jsx
  cast-fe/src/components/index.jsx
Due: build:frontend

Implemented lazy loaded scrolling content, improved home page
  cast-fe/src/components/Fresh.jsx
  cast-fe/src/components/Home.jsx
  cast-fe/src/components/List.jsx
  cast-fe/src/components/Live.jsx
  cast-fe/src/components/Trending.jsx
Due: build:frontend

Fixed requst methods for comment and like
  cast-fe/src/components/Scene.jsx
Due: build:frontend

Fixed deps lock
  cast-fe/yarn.lock
Due: build:frontend

Added more aggregated paginated list methods
  cast-be/models/video.go
Due: build:backend

Path conditions:
  build:backend: any of: cast-be/**/*
  build:ingest: any of: cast-is/**/*
  build:frontend: any of: cast-fe/**/*
